header {
  margin-top: 32px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 83px;
  height: 26px;
}

header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 40px;
}

header nav ul li a {
  color: #686868;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
}

header nav ul li li:nth-child(1):after,
header nav ul li li:nth-child(2):after {
  content: url("../assets/icon-arrow-down.svg");
  margin-left: 9px;
}

header .menu {
  width: 32px;
  height: 18px;
  display: none;
}

.login a {
  text-decoration: none;
  color: #686868;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.login a:nth-child(2) {
  border: 1px solid #686868;
  border-radius: 14px;
  padding: 13px 23px;
  margin-left: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  color: #686868;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
  border: none;
  background-color: white;
}

.dropdown .dropbtn::after {
  content: url("../assets/icon-arrow-down.svg");
  margin-left: 9px;
}

.dropdown .dropbtn:hover::after {
  content: url("../assets/icon-arrow-up.svg");
  margin-left: 9px;
  -webkit-transition: opacity 1.2s ease-out;
  transition: opacity 1.2s ease-out;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 14px;
  background-color: #FFFFFF;
  min-width: 153px;
  height: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content a {
  color: #686868;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  display: block;
}

.dropdown .dropdown-content a:nth-child(1)::before {
  content: url("../assets/icon-todo.svg");
  margin-right: 15px;
}

.dropdown .dropdown-content a:nth-child(2)::before {
  content: url("../assets/icon-calendar.svg");
  margin-right: 15px;
}

.dropdown .dropdown-content a:nth-child(3)::before {
  content: url("../assets/icon-reminders.svg");
  margin-right: 15px;
}

.dropdown .dropdown-content a:nth-child(4)::before {
  content: url("../assets/icon-planning.svg");
  margin-right: 15px;
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex
> nav:nth-child(2)
> ul:nth-child(1)
> li:nth-child(2)
> div:nth-child(1)
> div:nth-child(2) {
  left: 0;
  min-width: 116px;
  height: 128px;
}

.flex
> nav:nth-child(2)
> ul:nth-child(1)
> li:nth-child(2)
> div:nth-child(1)
> div:nth-child(2) a::before {
  content: none;
}

@media only screen and (max-width: 1080px) {
  nav,
  .login {
    display: none;
  }
  .flex {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex .menu {
    display: block;
  }
}
/*# sourceMappingURL=header.css.map */