@import "./colors.scss";
@import "./fonts.scss";

header {
  margin-top: 32px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  .flex {
    display: flex;
    align-items: center;
  }

  img {
    width: 83px;
    height: 26px;
  }

  nav {
    ul {
      li {
        list-style: none;
        display: inline;
        margin-left: 40px;

        a {
          color: $mediumGrey;
          @include headingS;
          text-decoration: none;
        }

        li:nth-child(1):after,
        li:nth-child(2):after {
          content: url("../assets/icon-arrow-down.svg");
          margin-left: 9px;
        }
      }
    }
  }

  .menu {
    width: 32px;
    height: 18px;
    display: none;
  }
}

.login {
  a {
    text-decoration: none;
    color: $mediumGrey;
    @include headingS;
  }

  a:nth-child(2) {
    border: 1px solid $mediumGrey;
    border-radius: 14px;
    padding: 13px 23px;
    margin-left: 40px;
  }
}

.responsiveNavbar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: $pureWhite;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    color: $mediumGrey;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 0;
  }

  .dropbtn::after {
    content: url("../assets/icon-arrow-down.svg");
    margin-left: 9px;
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    margin-top: 20px;
    border-radius: 14px;
    background-color: $pureWhite;
    min-width: 153px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: $mediumGrey;
      text-decoration: none;
      @include headingS;
      display: block;
    }

    a:nth-child(1)::before {
      content: url("../assets/icon-todo.svg");
      margin-right: 15px;
    }
    a:nth-child(2)::before {
      content: url("../assets/icon-calendar.svg");
      margin-right: 15px;
    }
    a:nth-child(3)::before {
      content: url("../assets/icon-reminders.svg");
      margin-right: 15px;
    }
    a:nth-child(4)::before {
      content: url("../assets/icon-planning.svg");
      margin-right: 15px;
    }
  }
}

.dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: opacity 0.6s linear;
}

.flex
  > nav:nth-child(2)
  > ul:nth-child(1)
  > li:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(2) {
  left: 0;
  min-width: 116px;
  height: 128px;

  a::before {
    content: none;
  }
}

@media only screen and (max-width: 1080px) {
  .flex {
    width: 100%;
    justify-content: space-between;

    nav {
      display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: $pureWhite;
      
      ul {
        margin-top: 115px;
      }

      li{
         display: block;

         a {
           font-size: 16px;
           line-height: 26px;
         }
      }
    }

    .menu {
      display: block;
      z-index: 99;
    }
  }

  .login {
    display: none;
  }
}
