@import "./colors.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./main.scss";

* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}

.bodyBg {
  background-color: rgba(0, 0, 0, 0.5);
}

.overflow {
  overflow-y: hidden;
}